List of Students
  <ul class="students">
  <% for(var i=0; i<students.length; i++) {%>
    <li class="students">
      <span><%=" USN: " +students[i].usn+"."%></span>
      <span><%=" Name: " +students[i].name%></span>
      <span><%=" CGPA: " +students[i].cgpa%></span>
    </li>
  <% } %>
</ul>